body {
    width: 1440px;
    height: 5095px;
    flex-shrink: 0;
    background: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    margin: 50px 100px 100px 100px;
    display: flex;
    width: 1240px;
    height: 50px;
    flex-shrink: 0;
}

 /* navbar */
 nav {
    width: 1240px;
    height: 50px;
    float: left;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
 }

 nav ul {
    display: flex;
    overflow: hidden;
 }

 nav ul li {
    list-style: none;
    float: left;
    
 }

 nav ul li a {
    color: #234CAD;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    padding: 0px 50px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    text-decoration: none;
    
 }

nav ul li a:hover {
    cursor: pointer;
    color: #234CAD;
    background-color: #F2F6FF;
    border-radius: 25px;
    
}

.d-flex {
    display: inline-flex;
}

.btn {
    display: flex;
    gap: 25px;
    
}

.login-button {
    width: 135px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 2px solid #234CAD;
    color: #234CAD;
    text-align: center;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    background: none;
}

.login-button:hover {
    background-color: #234CAD;
    color: #FFF;
    cursor: pointer;
    border: none;
}

.signup-button {
    width: 135px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #F2F6FF;
    border: none;
    color: #234CAD;
    text-align: center;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 161.111% */
}

.signup-button:hover {
    background-color: #234CAD;
    cursor: pointer;
    border: none;
    color: #ffffff;
}

/* menu button */
.menu-button {
    background: none;
    border: none;
    flex-shrink: 0;
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 367px;
}

.menu-button img {
    width: 50px;
    height: 50px;
}

.dropdown {
    display: none;
    background-color: #F2F6FF;
    border-radius: 25px;
    min-width: 200px;
}

.dropdown li {
    list-style: none;
}
.dropdown li a {
    color: #234CAD;
    display: block;
    color: #234CAD;
    font-family: 'Nunito';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px; /* 161.111% */
    text-decoration: none;
    padding: 10px;
}

.menu-button:hover .dropdown{
    display: block;
}

.dropdown li a:hover {
    cursor: pointer;
    background-color: #234CAD;
    color: #FFF;
    border-radius: 25px;
}

.menu-button img:hover {
    cursor: pointer;
}

/* hero */
.hero {
    margin-left: 100px;
    display: flex;
    width: 1375px;
    height: 611px;
    padding: 0px 15px 25px 0px;
    align-items: center;
    flex-shrink: 0;
    background-color: black;
}

.banner {
    display: inline-flex;
    gap: 100px;
    width: 1240px;
    height: 575px;
    flex-shrink: 0;
    background-color: #F2F6FF;
    border-radius: 60px;
    padding-bottom: 36px;
}
.content {
    margin: 108px 0px 107px 100px;
}

.text-content {
    width: 375px;
    height: 245px;
    flex-shrink: 0;
    margin-bottom: 50px;
}

p {
    color: #234CAD;
    font-family: 'Nunito';

}
.main-title {
    width: 375px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
}

 .text-body {
    width: 304px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.btn-primary {
    width: 200px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 32.5px;
    border: 2px solid #234CAD;
    background: none;
    color: #234CAD;
    text-align: center;
    font-family: 'Nunito';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 163.636% */
}

.btn-primary:hover {
    background-color: #234CAD;
    color: #FFF;
    cursor: pointer;
}

.ui-element {
    width: 800px;
    height: 550px;
    flex-shrink: 0;
    display: flex;
}

.r-card {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card1 {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    background-color: black;
}

.card1 img {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
}

.card2 {
    width: 350px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    display: flex;
}

.card2 img {
    width: 53px;
    height: 53px;
    flex-shrink: 0;
    padding: 24px 20px;
}

.text-card {
    display: flex;
    width: 157px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* gap: 3px; */
    padding-top: 32px;
}

.title-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 131.25% */
}

.bd-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 175% */
}

.card3 {
    width: 276px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
    margin-top: 25px;
}

.card3 img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin: 20px 20px;
}

.participants {
    width: 130px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
}

.items-1 {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    fill: #F2F6FF;
    stroke-width: 2px;
    stroke: #FFF;
}

.items-2 {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    fill: #F2F6FF;
    stroke-width: 2px;
    stroke: #FFF;
}

.items-3 {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    fill: #F2F6FF;
    stroke-width: 2px;
    stroke: #FFF;
}

.items-4 {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: #F2F6FF;
    border-radius: 50%;
    border: 2px solid #FFF;
    
}

.card-4 {
    width: 350px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
    margin-top: 25px;
    display: flex;
}

.notification {
    display: flex;
    padding: 20px;
}

.nm-person {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-color: #F2F6FF;
    border-radius: 50%;
    
}

.nm-person p {
    justify-content: center;
    color: #234CAD;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
}

.notif {
    background-color: #234CAD;
    border-radius: 50%;
    border: 2px solid #FFF;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    color: #FFF;
    margin-top: 0px;
    margin-left: -20px;
    color: #F7FAFC;
    font-family: Nunito;
    font-size: 6px;
    font-style: normal;
    font-weight: 700;
    line-height: 8px; /* 133.333% */

}

.notif-content {
    display: inline-flex;
height: 45px;
justify-content: center;
align-items: flex-start;
gap: 6px;
flex-shrink: 0;
}

.nt-content {
    display: flex;
    width: 179px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.time {
    color: #234CAD;
font-family: Nunito;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 13px; /* 130% */
opacity: 0.75;
}

.l-card {
    margin-top: 76px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card-5 {
    width: 130px;
height: 160px;
flex-shrink: 0;
border-radius: 25px;
background: #FFF;
}

.card-5 img {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin: 30px 30px 20px 30px;
}

.card-5 p {
    color: #234CAD;
    font-family: Nunito;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px; /* 130% */
    text-align: center;
}

.card-6 {
    width: 350px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    margin-left: -99px;
    display: flex;
}

.card-7 {
    width: 350px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
    display: flex;
}

.card-7 img {
    margin: 20px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.card-8 {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
}

.card-8 img {
    
    width: 75px;
    height: 75px;
    flex-shrink: 0;
}

.icon {
    width: 1240px;
    height: 100px;
    flex-shrink: 0;
    gap: 155px;
    display: flex;
    margin: 114px 100px 0px;
}

.icon-1 {
    width: 532px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    gap: 30px;
}

.icon-1 img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.icon-content {
    display: flex;
    width: 402px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nm-title {
    color: #234CAD;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 49px; /* 163.333% */
}

.bd-icon {
    color: #234CAD;
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 163.636% */
}

.icon-2 {
    width: 553px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    gap: 30px;
}

.icon-2 img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

/* .product-features {

} */

.text-right {
    width: 1015px;
    height: 575px;
    flex-shrink: 0;
    margin: 150px 212px;
    gap: 100px;
    display: inline-flex;
}

.object {
    width: 575px;
    height: 575px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-radius: 60px;
    background: #F2F6FF;
}

.card-content {
    width: 538px;
    height: 360px;
    flex-shrink: 0;
    margin: 108px 18px;
}

.cd-object1 {
    width: 538px;
    height: 175px;
    flex-shrink: 0;
}

.object-1 {
    width: 438px;
    height: 125px;
    flex-shrink: 0;
    margin: 0px 50px 50px;
    display: flex;
    border-radius: 25px;
    background: #FFF;
    /* box-shadow: linear-gradient(35deg, #234CAD 9.21%, rgba(35, 76, 173, 0.50) 110.31%); */
}

.cd-object2 {
    width: 400px;
    height: 125px;
    flex-shrink: 0;
    margin-left: 69px;
    margin-top: -25px;
}

.object-2 {
    width: 350px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    margin: 0px 25px 25px;
}

.cd-object3 {
    margin-left: 128px;
    width: 282px;
    height: 85px;
    flex-shrink: 0;
}

.object-3 {
    width: 262px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    margin: 0px 10px 10px;
}

.tx-content {
    width: 340px;
    height: 360px;
    flex-shrink: 0;
    gap: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 108px;
}
.txt {
    width: 340px;
    height: 245px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title-txt {
    width: 340px;
    color: #234CAD;
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
}

/* .title-txt p {
    color: #234CAD;
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; 
} */

.bd-txt {
    width: 304px;
    color: #234CAD;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.btn-txt {
    width: 200px;
    height: 65px;
    flex-shrink: 0;
    color: #234CAD;
    text-align: center;
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 163.636% */
    border-radius: 32.5px;
    border: 2px solid #234CAD;
    background: none;
}


/* features 2 */

.text-center {
    display: flex;
    width: 1240px;
    height: 908px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 100px;
}

.title {
    margin: 0px 259px 100px;
    width: 723px;
    height: 133px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title-center {
    color: #234CAD;
    text-align: center;
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
}
